[submodule "deployment-yaml"]
	path = deployment-yaml
	url = https://github.com/Nexlayer/nexlayer-deployment-yaml
[submodule "api-reference"]
	path = api-reference
	url = https://github.com/Nexlayer/api-reference
